In [1]:
import seaborn as sns 
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = sns.load_dataset('penguins')
df = df.fillna({
    'bill_length_mm': 44,
    'bill_depth_mm': 17,
    'flipper_length_mm': 201,
    'body_mass_g': 4202,
}).dropna()
ohe_sex = pd.get_dummies(df['sex'], drop_first=True).astype(int)
ohe_species = pd.get_dummies(df['species'], drop_first=True).astype(int)
ohe_island = pd.get_dummies(df['island'], drop_first=True).astype(int)
df = pd.concat([df, ohe_sex, ohe_species, ohe_island], axis=1)
df.drop(['sex', 'species', 'island'], axis=1, inplace=True)
df.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Male,Chinstrap,Gentoo,Dream,Torgersen
0,39.1,18.7,181.0,3750.0,1,0,0,0,1
1,39.5,17.4,186.0,3800.0,0,0,0,0,1
2,40.3,18.0,195.0,3250.0,0,0,0,0,1
4,36.7,19.3,193.0,3450.0,0,0,0,0,1
5,39.3,20.6,190.0,3650.0,1,0,0,0,1

In [2]:
# X_train, X_test, y_train, y_test = train_test_split(X.drop(['sex'], axis=1), y.sex, train_size = 0.8)
# clf=Linnar_Regression()
# clf.fit(X_train, y_train)  
# clf.score(X_test, y_test)